#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	install -D -m 755 ondemand/ipu7-camera-ondemand.py \
	  debian/ipu7-camera-ondemand/usr/bin/ipu7-camera-ondemand
	install -D -m 644 conf/modules-load.conf \
	  debian/ipu7-camera-ondemand/usr/lib/modules-load.d/v4l2loopback.conf
